[Unit]
Description=MFU Postfix delivery status poller timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=mfu-mail-delivery-poll.service

[Install]
WantedBy=timers.target
